In [ ]:
!pip install antares-http

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting antares-http
  Downloading antares_http-1.1.4-py3-none-any.whl (4.9 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from antares-http) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->antares-http) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->antares-http) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->antares-http) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->antares-http) (2.10)
Installing collected packages: antares-http
Successfully installed antares-http-1.1.4

In [ ]:
import requests
import pandas as pd

In [ ]:
## Initialize All Urls
baseURL = "http://213.190.4.40/iems/iems-api/index.php/public/devices"
deviceToken = "6cc5dc0059d39c5392784721c78d4bb3" # Change this with what device token u need
urls = {
    "info": baseURL + "/info?device_token=" + deviceToken,
    "pullByDate": baseURL + "/pullByDate?device_token=" + deviceToken + "&date=2021-09-20",
    "last": baseURL + "/last?device_token=" + deviceToken,
    "pull": baseURL + "/pull?device_token=" + deviceToken
}

In [ ]:
## Do request
response = requests.get(urls["info"]) ## U will get response as a string
result = response.json() ## We parse the string response to json

In [ ]:
dataset = pd.json_normalize(result["data"]) # Read data object from result
dataset.head()

,id,device_name,device_shortname,device_token,device_type,device_status,device_is_connect,ssid_name_device,ssid_password_device,created_at,updated_at,phone_number,ssid_name,ssid_password,api_key,full_name,email
0,5,IEMS-3-001,kwh-3-phase1613113395,6cc5dc0059d39c5392784721c78d4bb3,kwh-3-phase,active,1,cheva_lab,bakayaro,2021-02-12 14:03:15,2021-07-22 13:10:06,082119189666,cheva_lab,bakayaro,5c8d21afd6f2b59cf23b1f9d03ff0323,Gedung P,gedung.p@telkomuniversity.ac.id

In [ ]:
## Do request
response = requests.get(urls["pullByDate"]) ## U will get response as a string
result = response.json() ## We parse the string response to json
dataset = pd.json_normalize(result["data"]) # Read data object from result
dataset.head()

,id,id_m_devices,va,vb,vc,vab,vbc,vca,ia,ib,...,sc,st,pfa,pfb,pfc,freq,ep,eq,date,time
0,95592,5,236.5,237.9,237,0,0,0,15.4,5.7,...,0.47,2.42,0.31,0.21,2.26,50.12,436,0,2021-09-20,23:55:42
1,95590,5,236.5,237.8,236.9,0,0,0,15.2,5.8,...,0.48,2.34,0.3,0.21,2.19,50.1,436,0,2021-09-20,23:50:41
2,95589,5,235.7,237.5,236.2,0,0,0,13.1,6.8,...,1.25,1.16,0.3,0.26,1.16,50,436,0,2021-09-20,23:45:40
3,95588,5,235.8,237.5,236.4,0,0,0,16.4,4.7,...,0.77,2.46,0.27,0.03,2.45,50,436,0,2021-09-20,23:40:39
4,95586,5,235.9,237.3,236.4,0,0,0,13.6,5.6,...,0.51,1.96,0.27,0.08,1.92,50,436,0,2021-09-20,23:35:38

In [ ]:
## Do request
response = requests.get(urls["pull"]) ## U will get response as a string
result = response.json() ## We parse the string response to json
dataset = pd.json_normalize(result["data"]) # Read data object from result
dataset.head()

,id,id_m_devices,va,vb,vc,vab,vbc,vca,ia,ib,...,sc,st,pfa,pfb,pfc,freq,ep,eq,date,time
0,143932,5,238.1,240.1,238.6,0,0,0,5,5.5,...,0.55,0.55,0.52,0.36,0.86,50,10680,12.28,2021-12-13,04:02:25
1,143930,5,238.1,240.3,238.7,0,0,0,4.7,5.5,...,0.55,0.83,0.8,0.37,0.86,50,10680,12.28,2021-12-13,03:57:20
2,143928,5,238.1,240.3,238.7,0,0,0,4.9,5.8,...,1.3,0.26,0.69,0.49,1,50,10679,12.28,2021-12-13,03:52:15
3,143926,5,238.3,240.3,238.8,0,0,0,4.7,5.5,...,0.59,0.77,0.8,0.36,0.98,50,10679,12.28,2021-12-13,03:47:11
4,143924,5,238.6,240.5,239.1,0,0,0,4.5,5.5,...,1.27,0.41,0.63,0.36,1,50,10679,12.28,2021-12-13,03:42:06

In [ ]:
## Do request
response = requests.get(urls["last"]) ## U will get response as a string
result = response.json() ## We parse the string response to json
dataset = pd.json_normalize(result["data"]) # Read data object from result
dataset.head()

In [ ]:
## Do Post to Antares With antares_http library
from antares_http import antares

data = {
    'mode' : 'ON'
}
antares.setAccessKey('83ad949156b6f92c:c1d442642de61387')
antares.send(data, 'Smart01', 'SLA_2')

{'content': {'mode': 'ON'},
 'created_time': '20220621T183848',
 'last_modified_time': '20220621T183848',
 'parent_id': '/antares-cse/cnt-2SanImioRX-TKFDF',
 'resource_identifier': '/antares-cse/cin-I6t1YS-IQd2bcTZA',
 'resource_name': 'cin_I6t1YS-IQd2bcTZA'}

In [ ]:
## Do Post to Antares With requests Library
url = "https://platform.antares.id:8443/~/antares-cse/antares-id/Smart01/SLA_2"

payload="{\r\n  \"m2m:cin\": {\r\n    \"con\": \"{\\\"mode\\\":\\\"ON\\\"}\"\r\n  }\r\n}"
headers = {
  'X-M2M-Origin': '83ad949156b6f92c:c1d442642de61387',
  'Content-Type': 'application/json;ty=4',
  'Accept': 'application/json'
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

{
   "m2m:cin" : {
      "rn" : "cin_jGUgODlcQ-un8D4x",
      "ty" : 4,
      "ri" : "/antares-cse/cin-jGUgODlcQ-un8D4x",
      "pi" : "/antares-cse/cnt-2SanImioRX-TKFDF",
      "ct" : "20220621T183943",
      "lt" : "20220621T183943",
      "st" : 0,
      "cnf" : "text/plain:0",
      "cs" : 13,
      "con" : "{\"mode\":\"ON\"}"
   }
}